.tracker button {width:unset;height:unset;padding:1px 5px;}
.tracker button.client {display:none;}
.tracker input {color:white;background-color:transparent;border:medium none;border-bottom:1px solid grey;border-radius: 2px;}
.tracker input:focus {outline: 2px inset #566ab5ba;outline: auto;outline-color: #566ab5ba;}
#turns button {padding:unset;}

.inactive {opacity: 0.5;}

.combatvals {display:table;padding-bottom:5px;padding-left:7px}
.combatvals div {display: table-row;min-height:20px;padding-top:7px;}
.combatvals div div {display: table-cell;padding-left:5px;}
.combatvals input, .cv_effects input {height: 19px;width: 35px;}
.cv_action {text-align:center; margin:0px 5px;border-top:1px solid var(--theme-ui-colors-gray);}

.cv_effects {display:table;padding-bottom:8px;padding-left:7px;}
.cv_effects div {display: table-row;min-height:20px;padding-top:3px;}
.cv_effects div div {display: table-cell;padding-left:5px;text-align:center;}
.cv_effects svg {width: 15px; height: 15px;vertical-align:bottom;}

.cv_settings {display:table;padding-bottom:8px;padding-left:2px;padding-top: 5px;}
.cv_settings div {display: table-row;min-height:20px;padding-top:3px;}
.cv_settings div.header {font-weight:bold;height:23px;cursor: default;}
.cv_settings input {height:18px;width:35px;}
.cv_settings div div {display: table-cell;padding-left:5px;text-overflow: ellipsis;white-space: nowrap;max-width: 69px;}
.cv_settings div div:first-child {overflow: hidden;cursor: default;}
.cv_settings div div.double input { background-color: #a42b2b6b; }
.cv_tabs label, .cv_tabs input {vertical-align: text-bottom;}

.ct_hp a {color:#646464bd;}
.ct_hp0 a, .ct_hp1 a, .ct_hp2 a {color: #a000006b;}
.ct_hp3 a {color:green;}
.ct_hp2 a.hp1, .ct_hp2 a.hp2 {color: #588000;}
.ct_hp1 a.hp1 {color: #ad9200;}
.set_btn {display:block;width:11px;height:11px;float:left;cursor:pointer;}

.trackervals {display:table;padding:3px 0px;}
.trackervals div {display: table-row;}
.trackervals div:last-child {padding-right:10px}
.trackervals div:first-child {padding-left:8px}
.trackervals div:not(:first-child) {cursor: pointer;}
.trackervals div div {display: table-cell;padding:2px 3px 2px 3px;max-width:72px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.trackervals div .ct_name {width: 100%;}

.turns {text-align:center;border-top:1px solid white;margin:0px 9px;padding:4px 0px;}
.move_turn {cursor:pointer;}
.next_turn {cursor:pointer;float:right}
.prev_turn {cursor:pointer;float:left}
.my_turn {background-color:rgba(132,111,111,0.3);}
.move_turn svg {width: 11px;height: 11px;margin-left: 3px;margin-bottom: -1px;}
.next_turn:hover, .move_turn:hover, .set_btn:hover, .prev_turn:hover {color: var(--theme-ui-colors-primary);}


.wrapscroll {
	max-height: 280px;
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-width: thin; /* 8 px */
	scrollbar-color: rgba(0,0,0,0%) rgba(0,0,0,0%);
}
.wrapscroll:hover {
    scrollbar-color: rgba(200,200,200,15%) rgba(1,1,1,0%);
}
.wrapscroll::-webkit-scrollbar {
    width: 6px;
}
.wrapscroll:hover::-webkit-scrollbar-thumb {
    background-color: rgba(200, 200, 200, 20%);
    border-radius: 3px;
}

.switcher button:hover {
    cursor: pointer;
    color: var(--theme-ui-colors-primary);
}

.switcher button {
    padding: 4px;
    width: 32px;
    height: 32px;
    appearance: none;
    margin: 0px;
    box-sizing: border-box;
    border: none;
    background-color: var(--theme-ui-colors-overlay);
    border-radius: 50%;
    color: inherit;
}

.switcher {
    box-sizing: border-box;
    min-width: 0px;
    margin: 8px;
    position: absolute;
    right: 0;
    background-color: var(--theme-ui-colors-overlay);
    border-radius: 50%;
}

.tracker {
	cursor:auto;
	width:165px;
	background-color:var(--theme-ui-colors-overlay);
	padding:0px;
	margin:8px;
	border-radius:5px;
	overflow-x:hidden;
	overflow-y:hidden;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
	font-size: 12px;
}

.off .tracker {
    display: none!important;
}

#combatcontainer {
    position: absolute;
    top: 0px;
    right: 0px;
}

#combatcontainer .tracker {
	position:absolute;
	top:40px;
	right:50px;
}

#combatcontainer .cv_title {
    text-align: center;
    border-bottom: 1px solid var(--theme-ui-colors-gray);
    margin: 0px 5px;
    padding-bottom: 7px;
    padding-top: 4px;
}

#combatcontainer .cv_tabs {
	text-align: center;
    margin: 0px 5px;
    padding-top: 6px;
    width: 155px;
    display: flex;
}

#combatcontainer .gap {
    width: 19px;
    height: 19px;
    display: inline-block;
    border-bottom: 1px solid var(--theme-ui-colors-gray);
    box-sizing: border-box;
    vertical-align: bottom;
}

#combatcontainer .cv_tab {
    width: 50px;
    height: 19px;
    display: inline-block;
    border: 1px solid var(--theme-ui-colors-gray);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border-bottom: none;
    border-radius: 4px 4px 0px 0px;
	background-color: rgba(255,255,255,5%);
}

#combatcontainer .cv_tab > div {
	height: 16px;
	border-radius: 4px 4px 0px 0px;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#combatcontainer .cv_tab.off > div {
    border: 1px solid var(--theme-ui-colors-gray);
}
#combatcontainer .cv_tab.off {
    border: none;
    border-bottom: 1px solid var(--theme-ui-colors-gray);
}
#combatcontainer .cv_tabs.client > .cv_tab.off {
    background: none;
}
#combatcontainer .cv_tabs.client > .cv_tab.off > div {
    display: none;
}
#combatcontainer .hidden {
	display: none;
}

#combatcontainer div#cbtab_info {
    padding: 0px 5px;
    margin: 0px 5px;
    background-color: rgba(255,255,255,5%);
}
#combatcontainer div#cbtab_stats {
    background-color: rgba(255,255,255,5%);
    margin: 0px 0px 0px 5px;
	max-width: 155px;
}
#combatcontainer .master_check {
    padding: 10px 0px 5px 0px;
}
#combatcontainer .master_check input,
#combatcontainer .fog_check input,
#combatcontainer .bg_check input {
	margin: 1px 0px;
	vertical-align: bottom;
}
#combatcontainer .master_check label, 
#combatcontainer .fog_check label, 
#combatcontainer .bg_check label {
	padding: 0px 5px;
	margin: 0px;
	vertical-align: bottom;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
	max-width: 125px;
}
#combatcontainer .master_check label {
	max-width: 54px;
}
#combatcontainer .fog_check {
    padding: 3px 0px 3px 0px;
}
#combatcontainer .bg_colors {
    padding-left: 5px;
}
#combatcontainer .bg_colors > input {
    width: 22px;
    font-size: 10px;
    height: 19px;
}
#combatcontainer .bg_colors > label {
    padding: 0px;
}
#combatcontainer div#bg_picker {
    display: inline-block;
    height: 15px;
    width: 15px;
    vertical-align: bottom;
    background-color: var(--theme-ui-colors-background);
    border-radius: 10px;
    margin-left: 8px;
}
.bg_colors input::-webkit-outer-spin-button, 
.bg_colors input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.bg_colors input[type=number] {
  -moz-appearance: textfield;
}
#combatcontainer .info_text {
    padding: 5px 0px;
    margin-bottom: 8px;
}
#cbtab_info.locked .master_check input,
#cbtab_info.locked .master_check label {
	pointer-events: none;
	filter:brightness(0.5);
}
#cbtab_info.client .fog_check, 
#cbtab_info.client .bg_check {
	display: none;
}
.info_text svg {
    width: 15px;
    height: 15px;
    vertical-align: bottom;
}
.info_helper {
    height: 38px;
}
.notecheck {
    display: inline-block;
    height: 26px;
    width: 115px;
    border-bottom: 3px solid hsla(255, 100%, 100%, 20%);
}
.notetext {
	padding: 0px;
	margin: 0px;
	height: 26px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 114px;
}
div#note_occupied {
    border-bottom: 3px solid var(--theme-ui-colors-primary);
    position: relative;
    top: -3px;
    width: 3%;
}

#combatcontainer #helpico {
	width: 28px;
	height: 26px;
	float: right;
	font-size: 7px;
	text-align: center;
	color: white;
	cursor: pointer;
}

#combatcontainer #helpico:hover {
	color: var(--theme-ui-colors-primary);
}

#combatcontainer .switcher button {
    top: 0px;
    right: 52px;
    position: absolute;
}

#combatcontainer.off .switcher button {
    transform: rotate(225deg);
}

#combatcontainer.on .switcher button {
    transform: rotate(45deg);
}

#combatcontainer.on .switcher button.docked {
    transform: rotate(0deg);
}

#combatcontainer.off .switcher button.docked {
    transform: rotate(180deg);
}

#combatcontainer .finishbutton {
    float: right;
    height: 26px;
    width: 26px;
    overflow: hidden;
	transition: height 0.5s 0s;
}

#combatcontainer .finishtext:hover .finishbutton {
	transition: height 0.5s 2s;
    height: 56px;
}

#combatcontainer .finishtext {
	cursor: pointer;
}



#dicecontainer {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#dicecontainer .switcher button {
    bottom: 0px;
    right: 52px;
    position: absolute;
}

#dicecontainer .switcher {
	bottom: 0px;
}

#dicecontainer .tracker {
	position:absolute;
	bottom:40px;
	right:0px;
}

#dicecontainer .wrapscroll {
	max-height: 250px;
	display: flex;
    flex-direction: column-reverse;
}

#dicecontainer.on .switcher button {
    transform: rotate(180deg);
}

.dicelog {
    margin: 5px 0px;
}

.dicelog .entry {
	padding: 3px 9px;
	opacity: 0.5;
	cursor: default;
}

.dicelog .entry:hover {
    background-color: rgba(132,111,111,0.3);
	opacity: unset;
}

.dicelog .entry:last-child {
    opacity: unset;
}

.dicelog .entry > div:first-child {
	float: left;
}

.dicelog .entry div:last-child {
    line-height: 15px;
    margin-left: 34px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.dicelog .entry div:last-child .dice {
    margin-left: 0px;
}

.dice svg {
    width: 15px;
    height: 15px;
	vertical-align: bottom;
}

.dicelog .entry div:last-child .dice {
    display: none;
	width:100%;
}

.dicelog .entry:last-child div:last-child .dice, .dicelog .entry:hover div:last-child .dice {
    display: unset;
}